@media (max-width: 620px) {
  #tres {
    width: 300px;
    height: 300px;
  }

  #tres > .celda > img {
    width: 30px;
  }

  /* turno jugador */
  .turn {
    width: 250px;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  /* div que incluye las victorias de cada jugador */
  .totWins {
    width: 300px;
    gap: 10px;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 30px;
  }

  .totWins > h3 {
    font-size: 15px;
  }

  .reloadTris > img {
    width: 20px;
  }
}
