#puzzle {
  width: 600px;
  height: 450px;
  background-image: url('./public/assets/Puzzle/puzzleAll.png');
  background-size: cover;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

/* .startPuzzle {
  background-color: var(--gh-colorpuzzle01);
} */

#puzzle > div {
  /* clase de los grid items blancos al empezar el juego */
  background-color: var(--gh-colorpuzzle01);
  border: 1px solid rgb(167, 167, 167);
}

.piezas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--gh-padding-s);
  margin: var(--gh-margin-l);
  background-color: var(--gh-colorpuzzle01);
  min-height: 120px;
  border: 1px solid black;
}

.piezas > img {
  width: 100px;
  height: 100px;
}

.inserted {
  /* clase para cambiar el tamaño de la pieza cuando entra en el puzzle */
  width: 150px;
  height: 150px;
}
