@media (max-width: 620px) {
  #puzzle {
    width: 360px;
    height: 275px;
    margin-bottom: 30px;
  }

  /* muevo el boton play al centro. De default está un poco mas abajo para dejar espacio al texto con la explicacion del juego */
  #puzzle > .play {
    width: 40px;
    height: 40px;
    top: 60%;
  }
  #puzzle > .play > img {
    width: 100%;
  }

  #puzzle > div {
    /* clase de los grid items blancos al empezar el juego */
    width: 90px;
    height: 90px;
  }

  .piezas {
    margin: var(--gh-margin-m);
  }

  .piezas > img {
    width: 90px;
    height: 90px;
  }

  .inserted {
    /* clase para cambiar el tamaño de la pieza cuando entra en el puzzle */
    width: 90px;
    height: 90px;
  }
}
