.rulesCatching {
  padding: var(--gh-padding-m);
  background-color: var(--gh-color03);
  font-family: 'Lilita One', sans-serif;
  font-size: 14px;
  color: var(--gh-color02);
  border-radius: var(--gh-border-radius);
  width: 70%;
  margin: auto;
  margin-top: var(--gh-margin-l);
}

.rulesPuzzle {
  padding: var(--gh-padding-m);
  background-color: var(--gh-color03);
  font-family: 'Lilita One', sans-serif;
  font-size: 15px;
  color: var(--gh-color02);
  border-radius: var(--gh-border-radius);
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 230px;
  text-align: center;
  margin: auto;
  margin-top: var(--gh-margin-l);
}

/* responsive */
@media (max-width: 620px) {
  .rulesCatching {
    padding: var(--gh-padding-s);
    font-family: 'Lilita One', sans-serif;
    font-size: 12px;
    width: 70%;
    margin: auto;
    margin-top: var(--gh-margin-l);
  }

  .rulesPuzzle {
    padding: var(--gh-padding-s);
    font-size: 12px;
  }
}
